__pycache__/
.ipynb_checkpoints/
*.pyc
data/raw/
*.csv
*.xlsx
.env
data/cleaned_inabs.json
data/cleaned_ilc.json
data/tokenized_inabs.json
data/tokenized_ilc.json
venv/
data/extractive_summary_ilc.json
data/extractive_summary_inabs.json
data/legalbert_ready/
data/summaries_legalbert/
data/

venv/
__pycache__/
*.pyc
runs/
artifacts/
logs/

venv/
__pycache__/
*.pyc
runs/
artifacts/
logs/
